footer
    .clearfix
    .row
        .col-lg-12
            p Copyright &copy; Ashok Sahoo 2015
    script(src='/bower_components/jquery/dist/jquery.min.js', type='text/javascript')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
